/* Resetting default margin and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;

}

header {
    background-color: #2ad3dc;
    padding: 20px;
    text-align: center;
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
}

header img {
    vertical-align: middle;
    margin-right: 10px; 
}

header h1 {
    display: inline-block;
    margin: 0;
    font-size: 36px;
    position: relative;
}

/* For lines above and below "Encyclopedia" */
header h1::before,
header h1::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 30%; 
    border-top: 2px solid #000; 
}

header h1::before {
    left: 0;
}

header h1::after {
    right: 0;
}

/* Styling the main content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.home-text {
    text-align: center;
    margin-bottom: 30px; 
}

.medicine-list {
    list-style: none;
    padding: 0;
}

.medicine-list li {
    margin-bottom: 20px;
}

footer {
    background-color: #aaff79;
    padding: 20px;
    text-align: center;
    
}

.b {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.b:hover {
    background-color: #45a049;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }