/* Additional CSS for coloring the lines and changing font color */
.line-above,
.line-below {
    background-color: #00aeff; 
    height: 2px; 
    margin: 0 0; 
}

/* TO change font color between the lines */
.home-text h2 {
    color: #ffffff; 
    background-color: #00aeff; 
}

/* Warning */
.warning {
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999; 
}

body {
    padding-bottom: 20px; 
    margin-bottom: 20px; 
    position: relative;
    background-image: url("other_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Centering the logo */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Adjust margin as needed */
}


/* Logo style */
.logo {
    height: 100px; /* Adjust height as needed */
    width: 100px; /* Adjust width as needed */
}

/* CSS for arranging images side by side */
.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

/* Ensure images and maps fill the container */
.column img,
.column map {
    width: 100%;
    height: auto;
}

/* Dark mode */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

/* To add dark mode styles */
body.dark-mode header {
    background-color: #2ad3dc;
    color: #000000;
}

body.dark-mode .line-above,
body.dark-mode .line-below {
    background-color: #00aeff; 
}

body.dark-mode footer {
    background-color: #444;
}

/* Dark mode toggle */
.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Dark mode overlay */
body.dark-mode::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65); 
    z-index: -1; 
}
